# Local AI Microservice Endpoints & Installation Paths
# Leave path blank to allow automatic discovery relative to user home directory

COMFYUI_PATH=
COMFYUI_URL=http://127.0.0.1:8188

LLAMA_PATH=
LLAMA_URL=http://127.0.0.1:8081

LAYA_PATH=
LAYA_URL=http://127.0.0.1:8765

CLM_PATH=
CLM_URL=http://127.0.0.1:8700
